# ================================================ File Types
*.DS_STORE
*.DS_Store
*.aux
*.log
*.sta
*.gz
*.toc
*.swp
*.mtl


# ================================================ Folders
cmake-build-debug/


# ================================================  Files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
